Service References/WeldServiceReference/JN.WELD.Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="JN.WELD.Service" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="JN.WELD.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="JN.WELD.Service/Imports">
      <xsd:import namespace="JN.WELD.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JN_WELD_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeldService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWeldService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWeldService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IWeldService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IWeldService_ServiceCall_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceCall" />
  </wsdl:message>
  <wsdl:message name="IWeldService_ServiceCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceCallResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeldService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="JN.WELD.Service/IWeldService/GetData" message="tns:IWeldService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="JN.WELD.Service/IWeldService/GetDataResponse" message="tns:IWeldService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="JN.WELD.Service/IWeldService/GetDataUsingDataContract" message="tns:IWeldService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="JN.WELD.Service/IWeldService/GetDataUsingDataContractResponse" message="tns:IWeldService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceCall">
      <wsdl:input wsaw:Action="JN.WELD.Service/IWeldService/ServiceCall" message="tns:IWeldService_ServiceCall_InputMessage" />
      <wsdl:output wsaw:Action="JN.WELD.Service/IWeldService/ServiceCallResponse" message="tns:IWeldService_ServiceCall_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>